<h1>Início da Página</h1>

{{#if gostandoDeNode}}
    <p>Node é vida!</p>
{{else}}
    <p>Não usar Node é desvantagem!</p>
{{/if}}

<table>
    {{#each dados}}
        <tr>
            <td>{{nome}}</td>
            <td>{{idade}}</td>
        </tr>
    {{/each}}
</table>